.x{
  cursor:default

}
.container {
  width: 100%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.toggleButton {
  width: 100px;
  height: 40px;
  border-radius: 9999px;
  border: none;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s;
}

.toggleButton span {
  display: block;
  height: 3px;
  border-radius: 9999px;
  background-color: rgb(255, 255, 255);
  transition: all 0.2s;
}
.toggleButton span:nth-child(1) {
  width: 15px;
  transform: translateY(13px) translateX(4.5px) rotate(-45deg);
}
.toggleButton span:nth-child(2) {
  width: 20px;
  transform: rotate(90deg);
}
.toggleButton span:nth-child(3) {
  width: 15px;
  transform: translateY(-5px) translateX(-4px) rotate(45deg);
}
.toggleButtonActive {
  background: rgb(0, 0, 0);
}

.toggleButtonActive span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.toggleButtonActive span:nth-child(2) {
  opacity: 0;
}

.toggleButtonActive span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  
}

.panel {
  width: 100%;
  display: grid;
  gap: 24px;
  max-height: 0;
  overflow: hidden;
  padding: 0 12px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.55);
  border: 1px solid rgba(0, 0, 0, 0);
  transition:all 0.2s
}

.panelOpen {
  max-height: 600px;
  padding: 24px;
  border-color: rgba(255, 255, 255, 0);
  overflow: scroll;
}

@media (min-width: 768px) {
  .panel {
    padding: 0 24px;
  }

  .panelOpen {
    padding: 32px;
  }
}
